body {
    font-size: 14px;
  }
  .v4_2 {
    width: 100%;
    height: 1080px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v4_3 {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(17,112,21,0.3020833432674408), rgba(17,112,21,1));
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v4_15 {
    width: 100%;
    height: 311px;
    background: url("../images/v4_15.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 311px;
    left: 312px;
    overflow: hidden;
  }
  .v4_13 {
    width: 146px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 69px;
    left: 219px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 200px;
    opacity: 1;
    text-align: left;
  }
  .v4_4 {
    width: 134px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 200px;
    opacity: 1;
    text-align: left;
  }
  .v4_5 {
    width: 150px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 27px;
    left: 116px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 200px;
    opacity: 1;
    text-align: left;
  }
  .v4_11 {
    width: 145px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 26px;
    left: 461px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 200px;
    opacity: 1;
    text-align: left;
  }
  .v4_6 {
    width: 150px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 257px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 200px;
    opacity: 1;
    text-align: left;
  }
  .v4_9 {
    width: 148px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 26px;
    left: 394px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 200px;
    opacity: 1;
    text-align: left;
  }
  .v4_10 {
    width: 138px;
    color: rgba(245,245,245,1);
    position: absolute;
    top: 0px;
    left: 534px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 200px;
    opacity: 1;
    text-align: left;
  }
  .v4_12 {
    width: 157px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 27px;
    left: 356px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 200px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v4_28 {
    width: 432px;
    height: 0px;
    background: url("../images/v4_28.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 505px;
    border: 2px solid rgba(255,255,255,1);
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v4_36 {
    width: 15px;
    height: 15px;
    background: rgba(17,112,21,1);
    opacity: 1;
    position: absolute;
    top: 358px;
    left: 373px;
    border-radius: 50%;
  }
  .v4_37 {
    width: 15px;
    height: 15px;
    background: rgba(17,112,21,1);
    opacity: 1;
    position: absolute;
    top: 384px;
    left: 816px;
    border-radius: 50%;
  }
  .v4_42 {
    width: 15px;
    height: 15px;
    background: rgba(17,112,21,1);
    opacity: 1;
    position: absolute;
    top: 358px;
    left: 954px;
    border-radius: 50%;
  }
  .v4_43 {
    width: 15px;
    height: 15px;
    background: rgba(17,112,21,1);
    opacity: 1;
    position: absolute;
    top: 360px;
    left: 870px;
    border-radius: 50%;
  }
  .v4_44 {
    width: 15px;
    height: 15px;
    background: rgba(17,112,21,1);
    opacity: 1;
    position: absolute;
    top: 386px;
    left: 756px;
    border-radius: 50%;
  }
  .v4_45 {
    width: 15px;
    height: 15px;
    background: rgba(17,112,21,1);
    opacity: 1;
    position: absolute;
    top: 384px;
    left: 658px;
    border-radius: 50%;
  }
  .v4_46 {
    width: 15px;
    height: 15px;
    background: rgba(17,112,21,1);
    opacity: 1;
    position: absolute;
    top: 384px;
    left: 596px;
    border-radius: 50%;
  }
  .v4_47 {
    width: 15px;
    height: 15px;
    background: rgba(17,112,21,1);
    opacity: 1;
    position: absolute;
    top: 427px;
    left: 508px;
    border-radius: 50%;
  }
  .v4_48 {
    width: 15px;
    height: 15px;
    background: rgba(17,112,21,1);
    opacity: 1;
    position: absolute;
    top: 427px;
    left: 419px;
    border-radius: 50%;
  }
  .v4_38 {
    width: 15px;
    height: 15px;
    background: rgba(17,112,21,1);
    opacity: 1;
    position: absolute;
    top: 384px;
    left: 727px;
    border-radius: 50%;
  }
  .v4_39 {
    width: 15px;
    height: 15px;
    background: rgba(17,112,21,1);
    opacity: 1;
    position: absolute;
    top: 358px;
    left: 638px;
    border-radius: 50%;
  }
  .v4_40 {
    width: 15px;
    height: 15px;
    background: rgba(17,112,21,1);
    opacity: 1;
    position: absolute;
    top: 384px;
    left: 544px;
    border-radius: 50%;
  }
  .v4_41 {
    width: 15px;
    height: 15px;
    background: rgba(17,112,21,1);
    opacity: 1;
    position: absolute;
    top: 384px;
    left: 451px;
    border-radius: 50%;
  }
  .v5_51 {
    width: 420px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 553px;
    left: 664px;
    font-family: Inter;
    font-weight: Light Italic;
    font-size: 50px;
    opacity: 1;
    text-align: left;
  }